{% extends 'appointments/base.html' %}
{% load static %}
{% block title %}
    Available appointments
{% endblock %}
{% block content %}
    <section>
        <section class="section-container">
            <h2>Choose an appointment</h2>
            {% if upcoming_appointments %}
                {% for appointment in upcoming_appointments %}
                    <div class="small-container">
                        <div class="appointment">
                            <div class="date-time">
                                <div class="date">
                                    <div class="word-and-image">
                                        <h4>Date</h4>
                                        <i class="fa-regular fa-calendar"></i>
                                    </div>
                                    <p>{{ appointment.date|date:"d.m.Y" }}</p>
                                </div>
                                <div class="time">
                                    <div class="word-and-image">
                                        <h4>Time</h4>
                                        <i class="fa-regular fa-clock"></i>
                                    </div>
                                    <p>{{ appointment.time }}</p>
                                </div>
                            </div>
                            <div class="button-container">
                                <a href="{% url 'book_appointment' appointment.id %}" class="button-light">Select appointment</a>
                            </div>
                        </div>                           
                    </div>
                {% endfor %}    

            {% else %}
                <div class="small-container">
                    <div class="small-container-column">
                        <p>There are no available appointments at the moment, please try again later.</p>                            
                    </div>                        
                </div>               
            {% endif %}
                             
                             
{% endblock %}