{% extends 'appointments/base.html' %}
{% load static %}
{% block title %}
    Cancel appointment
{% endblock %}
{% block content %}
    <section>
        <section class="section-container">
            <h2>Delete appointment</h2>           
            <h4>Are you sure you want to delete the following appointment?</h4>            
            <div class="small-container">
                <div class="appointment">
                    <div class="date-time">
                        <div class="date">
                            <div class="word-and-image">
                                <h4>Date</h4>
                                <i class="fa-regular fa-calendar"></i>
                            </div>
                            <p>{{ appointment.appointment.date }}</p>
                        </div>
                        <div class="time">
                            <div class="word-and-image">
                                <h4>Time</h4>
                                <i class="fa-regular fa-clock"></i>
                            </div>
                            <p>{{ appointment.appointment.time }}</p>
                        </div>
                    </div>
                    <div class="buttons">                        
                        <form method="POST">
                            {% csrf_token %}        
                            <input type="submit" value="Cancel appointment" class="button-cancel">
                        </form>                                              
                        <a href="{% url 'booked_appointments' %}" class="button-dark">Don't cancel appointment</a>
                    </div>
                </div>                           
            </div>                         

        </section>      
              
    </section>        
    
{% endblock %}