{% extends 'appointments/base.html'%}
{% load static %}
{% block title %}
    Edit account
{% endblock %}
{% block content %}
    <section>
            <section class="section-container">
                <h2>Edit your account details</h2>            
                <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <div>
                        <h4>{{ form.username.label }}*</h4>                        
                        {{ form.username }}
                    </div>
                    <div>
                        <h4>{{ form.first_name.label }}*</h4>
                        {{ form.first_name }}
                    </div>
                    <div>
                        <h4>{{ form.last_name.label }}*</h4>
                        {{ form.last_name }}
                    </div>
                    <div>
                        <h4>{{ form.email.label }}*</h4>
                        {{ form.email }}
                    </div>                   
                    <button type="submit" name="register" class="button-dark">Edit your account</button>
                </form>                               

            </section>           
                   
        </section>     
{% endblock %}