{% extends 'appointments/base.html'%}
{% load static %}
{% block title %}
    Confirm new password
{% endblock %}
{% block content %}   

    <section>
             <section class="section-container">
                <h2>Please set a new password</h2>           
                <form method="POST" action="" class="form">
                    {% csrf_token %}                
                    {{ form.as_p }}
                    <button type="submit" name="register" class="button-dark">Update your password</button>                 
                </form>

            </section>            
                          
        </section>     
{% endblock %}