{% extends 'appointments/base.html'%}
{% load static %}
{% block title %}
    Password reset complete
{% endblock %}
{% block content %} 

    <section> 
            <section class="section-container">
                <h2>Your password has been changed</h2>                
                    <div class="small-container">
                        <div class="small-container-column">
                            <h3>Please sign in to your account</h3>                            
                            <a href="{% url 'patient_login' %}" class="button-light">Sign in</a>                               
                        </div>                                            
                    </div>                
            </section>                                       
        </section>  
{% endblock %}