{% extends 'appointments/base.html'%}
{% load static %}
{% block title %}
    Password reset email
{% endblock %}
{% block content %}
    <section>
        <section class="section-container">
            <h3>Thanks for entering an email address</h3>                
                <div class="small-container">
                    <div class="small-container-column">
                        <p>If the email provided is associated with an account on our system, a email will be sent to your email address with instructions about how to change your password.</p>

                    </div>                        
                </div>                
            </section>                            
        </section>  
{% endblock %}